<?xml version="1.0" encoding="utf-8"?>
<manifest 
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ite.alarm.picturesd">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    
   <!-- 设置访问网络和访问本地SD卡的权限 -->
    
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.ite.alarm.picturesd.MainImagesActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name="com.ite.alarm.picturesd.BellRingActivity"
            android:label="闹钟">
            
        </activity>
    </application>

</manifest>
